@import "bulma";

.navbar {
  margin-bottom: 1vh;
}

.ress {
p {
  diplay:block;
}
}

.full-size {
  width: 100%;
}

.input {
  position: relative;
  width: 50% !important;
  left: 25%;
  right: 25%;
}

.notification {
  align-content: center;
  width: 100%;
}